<div class="container-home">
    <div class="data">
        <div class="header-table">
            <span>ID</span>
            <span>Allowance</span>
            <span>Effect From</span>
            <span>Expired In</span>
            <span>Basic Amount</span>
            <span></span>
        </div>
        <div class="data-table">
            <div class="row-data" *ngFor="let allowance of allowances">
                <div class="property">{{allowance.allowance_id}}</div>
                <div class="property">{{allowance.allowance_name}}</div>
                <div class="property">{{allowance.effect_date | date:'shortDate'}}</div>
                <div class="property">{{allowance.expired_date | date:'shortDate'}}</div>
                <div class="property">{{allowance.basic_amount.toLocaleString()}}</div>
                <div class="property">
                    <button class="btn-edit">
                        <fa-icon [icon]="iconEdit"></fa-icon>
                    </button>
                    <button class="btn-del">
                        <fa-icon [icon]="iconDel"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="create-container">
        <form 
            class="form-filter" 
            #allowanceFormCreate="ngForm"
        >
            <header class="header-filter">Filter</header>
            <label for="effect_date">Effect from</label>
            <div class="input-group">
                <input
                    id="effect_date"
                    class="form-control"
                    placeholder="dd/mm/yyyy"
                    name="effect"
                    ngbDatepicker
                    #effect_select="ngbDatepicker"
                    ngModel
                />
                <button class="btn btn-khoai"(click)="effect_select.toggle()" type="button">
                    <fa-icon [icon]="iconCalendar"></fa-icon>
                </button>
            </div>
            <label for="expired_date">Expired at</label>
            <div class="input-group">
                <input
                    id="expired_date"
                    class="form-control"
                    placeholder="dd/mm/yyyy"
                    name="expired"
                    ngbDatepicker
                    #expired_select="ngbDatepicker"
                    ngModel
                />
                <button class="btn btn-khoai"(click)="expired_select.toggle()" type="button">
                    <fa-icon [icon]="iconCalendar"></fa-icon>
                </button>
            </div>
            <button class="btn btn-submit">Run</button>
        </form>
    </div>
</div>