.form-create {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 50px;
    position: sticky;
    top: 0;
    box-shadow: var(--box-shadow);
}


.form-create label {
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
}

.form-create label:first-child {
    margin-top: 0;
}

.btn {
    border-color: var(--navy-blue); 
    color: var(--navy-blue);
}

.btn-submit {
    width: 50%;
    margin-top: 15px;
    font-weight: 600;
    border-width: 2px;
}

.btn-submit:hover {
    background-color: var(--navy-blue);
    color: var(--pink);
    transition-duration: 250ms;
}

.options-department {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 5px 10px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
}

.options-department > * {
    padding: 5px 10px;
    border-radius: 10px;
    transition-duration: 250ms;
    cursor: pointer;
}

.options-department > *:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: hsl(0, 0%, 100%);
}