.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--navy-blue);
    height: 100%;
    font-size: 16px;
}

#login-form {
    width: 25%;
    height: auto;
    /* padding: 10px 15px; */
    text-align: center;
    display: grid;
    row-gap: 20px;
}

#login-form header > span {
    margin: 0;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
}

#login-form header > .logo {
    margin-top: 15px;
}

#login-form input {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--navy-blue);
    padding: 15px 5px;
    width: 100%;
}

#login-form input::placeholder {
    color: var(--navy-blue);
}

#login-form > button {
    background-color: var(--navy-blue);
    color: white;
    width: 100%;
    border-radius: .5rem;
    padding: .5rem 0;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .5s;
}

#login-form > button:hover {
    background-color: white;
    color: var(--navy-blue);
    border: 2px dashed var(--navy-blue);
}

#login-form > caption {
    margin-top: 10px;
    display: block;
    font-weight: 600;
    text-align: center;
}

#login-form caption > a {
    text-decoration: none;
    color: var(--navy-blue);
    filter: opacity(80%);
}

#login-form caption > a:hover {
    text-decoration: underline;
}

#login-form .logo > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 80%;
}

.btnLogin {
    display: flex;
    place-content: center center;
}

#iconProcess {
    display: none;
}

@keyframes rotateInfinite {
    to {
        transform: rotate(180deg);
    }
}

.pwd-row {
    position: relative;
}

.show-pwd {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: grid;
    place-content: center center;
    height: 100%;
    width: 50px;
}