<div class="profile-inner">
    <header>
        <p class="username">{{user.username}}</p>
        <p class="position">{{user.position}}</p>
    </header>
    <div class="shortcuts">
        <label class="label-dropdown" for="list-shortcuts">Shortcuts</label>
        <ul id="list-shortcuts">
            <li><a href="">My Profile</a></li>
            <li><a href="">Settings</a></li>
            <li><a href="" (click)="onLogout()">Log Out</a></li>
        </ul>
    </div>
    <div class="activity">
        <label class="label-dropdown" for="list-activities">Activity</label>
        <ul id="list-activities">
            <li><a href="">Chat</a></li>
            <li><a href="">Recover Password</a></li>
        </ul>
    </div>
</div>