<div class="container-create">
    <form action="" class="form-create" #payrollType="ngForm" (ngSubmit)="onSubmit(payrollType)">
        <label for="name">Type Name</label>
        <input type="text" name="type_name" ngModel id="name" class="form-control" autocomplete="off">
        <label for="effect_date">Effect from</label>
        <div class="input-group">
            <input id="effect_date" class="form-control" placeholder="dd/mm/yyyy" name="effect_date" ngbDatepicker
                #effect_select="ngbDatepicker" ngModel />
            <button class="btn btn-khoai" (click)="effect_select.toggle()" type="button">
                <fa-icon [icon]="iconCalendar"></fa-icon>
            </button>
        </div>
        <label for="expired_date">Expired at</label>
        <div class="input-group">
            <input id="expired_date" class="form-control" placeholder="dd/mm/yyyy" name="expired_date" ngbDatepicker
                #expired_select="ngbDatepicker" ngModel />
            <button class="btn btn-khoai" (click)="expired_select.toggle()" type="button">
                <fa-icon [icon]="iconCalendar"></fa-icon>
            </button>
        </div>
        <label for="properties">Property</label>
        <div class="selected-container form-control" (click)="isShowProperties = !isShowProperties">
            <div class="selected-pro" *ngFor="let pro of displayPropertiesSelected">
                <div class="pro-content">{{pro}}</div>
                <fa-icon [icon]="iconClose"></fa-icon>
            </div>
        </div>
        <div class="property-options" *ngIf="isShowProperties">
            <div class="option" *ngFor="let key of keyPros; let i = index">
                <header>{{key | uppercase}}</header>
                <div class="sub-option" *ngFor="let pro of displayValues[i]" (click)="onSelect(key, pro.name)">
                    {{pro.id}} : {{pro.name}}
                </div>
            </div>
        </div>
        <button class="btn btn-submit" type="submit">Submit</button>
    </form>
</div>